@import "tailwindcss";
@config "../../tailwind.config.js";

@theme {
  --color-text: #14191a;
  --color-background: #eff4f6;
  --color-primary: #2e606b;
  --color-secondary: #81c8d9;
  --color-accent: #2395af;

  /* --color-text: #0f1010;
  --color-background: #f5f7f6;
  --color-primary: #6a967c;
  --color-secondary: #aacbb8;
  --color-accent: #89c2a0; */
}
