@import "tailwindcss";
@config "../../tailwind.config.js";

@theme {
  --color-text: #0e0e15;
  --color-background: #f7f7fb;
  --color-primary: #4546c2;
  --color-secondary: #9494e9;
  --color-accent: #4d4ded;

  /* --color-text: #0f1010;
  --color-background: #f5f7f6;
  --color-primary: #6a967c;
  --color-secondary: #aacbb8;
  --color-accent: #89c2a0; */
}
