@import "tailwindcss";
@config "../../tailwind.config.js";

@theme {
  --color-text: #07090b;
  --color-background: #f8fafc;
  --color-primary: #4e97ca;
  --color-secondary: #7ebde8;
  --color-accent: #45aaf0;

  /* --color-text: #0f1010;
  --color-background: #f5f7f6;
  --color-primary: #6a967c;
  --color-secondary: #aacbb8;
  --color-accent: #89c2a0; */
}
